<br><br>
<p-card >
    <p-table #dt1 [columns]="cols" [value]="courses" [paginator]="true" [rows]="7"
        styleClass="p-datatable-gridlines p-datatable" 
        [globalFilterFields]="['course_title','organization','level']">

        <ng-template pTemplate="caption">
            <div class="table-header">
                Coursera Courses
                <span class="p-input-icon-left" style="float: right;">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
                </span>
            </div>
            <br>
        </ng-template>

        <ng-template pTemplate="header" let-columns >
            <tr>
                <th *ngFor="let col of columns" [ngStyle]="styleObject(col.field)" pSortableColumn="{{col.field}}">
                    {{col.header}}
                    <p-sortIcon field="{{col.field}}"></p-sortIcon> 
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [ngStyle]="styleObject(col.field)">
                    <div *ngIf="col.field=='url'">
                        <a href={{rowData[col.field]}} target="_blank">
                        <i class="pi pi-external-link"></i>
                        </a> 
                    </div>
                    <div *ngIf="col.field !='url'">
                        {{rowData[col.field]}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</p-card>
