<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/sygnet.svg', width: 40, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]=false>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-4">
      <h5 style="color: grey; margin-top: 8px;">PSEUDOCODE</h5>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item px-2">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" class="p-inputtext-sm">         
      </span>
    </li>
    <li class="nav-item px-2">
      <button pButton label="Edit Info" class="p-button-sm p-button-info" icon="pi pi-user-edit" (click)="showModalDialog();EditInfo_get()"></button>
    </li>
    <li class="nav-item px-2">
      <button pButton label="Logout" class="p-button-sm p-button-secondary" icon="pi pi-power-off"></button>
    </li>
    <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/t.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li> -->
  </ul> 
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
</app-footer>

<!-- EDIT INFO -->
<p-dialog header="Edit Your Information" [(visible)]="displayModal" [modal]="true" [style]="{width: '35vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form [formGroup]='edit_info'>
        <div class="row">
        <div class="col-sm-6 col-6">
          <label for="image">
            <input type="file" name="image" id="image" style="display:none;" accept="image/x-png,image/jpeg,image/jpg"/>
            <img class='edit' src="assets/img/avatars/t.jpg"/>
          </label>
        </div>

        <div class="col-sm-6 col-6 input_field"><br><br>
          <div class="row">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input placeholder="First Name" type="text" class="form-control" formControlName="first_name" required pInputText>
            </div>
          </div><br><br>
          <div class="row">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input placeholder="Last Name" type="text" class="form-control" formControlName="last_name" required pInputText>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-6'>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input placeholder="Mobile number" type="text" class="form-control" formControlName="phone" required pInputText>
          </div>
        </div>
        <div class='col-sm-6 col-6'>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-compass"></i></span>
            <input placeholder="Country" type="text" class="form-control" formControlName="country" required pInputText>
          </div>
        </div>
      </div><br>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-github"></i></span>
        <input placeholder="GitHub Profile" type="text" class="form-control" formControlName="github" pInputText>
      </div><br>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input placeholder="LinkedIn Profile" type="text" class="form-control" formControlName="linkedin" pInputText>
      </div><br>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span>
        <input placeholder="Website" type="text" class="form-control" formControlName="website" pInputText>
      </div>
      
      
  </form>
        <ng-template pTemplate="footer">
        <!-- <p-button icon="pi pi-check" (click)="displayModal=false; EditInfo_post()" label="Ok" styleClass="p-button-text"></p-button> -->
        <button pButton pRipple type="button" label="Submit" icon="pi pi-check"
          class="p-button-raised p-button-sm p-button-info p-button-text" 
          (click)="displayModal=false; EditInfo_post()" ></button>
        </ng-template>
</p-dialog>

<p-button icon="pi pi-check" (click)="getUser()" label="Ok" styleClass="p-button-text"></p-button>