.edit:hover {
    cursor: pointer;
  }
.edit{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 80%; 
  width: 150px; 
  height: 150px;
  float: inline-start;
}
